// --- COLORS  --- //
$mainTitle: #1C1C1F;
$cardTitle: #272727;
$lightBlue: #0074C4;
$borders: #CCCCCC;

// --- FONTS  --- //
@font-face {
    src: url("../../fonts/suecaslab-medium.woff")
      format("woff");
    font-family: "SuecaSlab-medium";
    font-weight: 400px;
    font-style: normal;
  }

  @font-face {
    src: url("../../fonts/suecaslab-bold.woff")
      format("woff");
    font-family: "SuecaSlab-bold";
    font-weight: 400px;
    font-style: normal;
  }