@import "../styles/reset.scss";
@import "../styles/variables/variables.scss";

.borders{
    margin-right: 16px;
    margin-left: 16px;
    text-align: center;
    border: 1px solid $borders;   
}

article{

    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    
    div{
        margin-right: 0px;
        img{
            
            width: 100%;
        }
    }

    h2{
        font-family: SuecaSlab-medium;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        margin: 8px 20px 8px 16px;
        letter-spacing: -0.2px;
        color: $cardTitle;
        @media (min-width: 768px){
            margin-left: 0px;
        }

        em{
            color: $lightBlue;
            font-style: normal;
        
        }

    }

    p{
        margin-left: 16px;
        margin-right: 22px;
        font-family: Arial;
        font-size: 16px;
        line-height: 24px;

        @media (min-width: 768px){
            margin-left: 0px;
        }
    }
}

.center{
    @media (min-width: 768px){
        margin-left: 16px;
        margin-right: 16px;
        text-align: center;
    }
}

.autor-container{
    font-weight: bold;
    padding-top: 38px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        width: 80px;
        height: 80px;
        border-radius: 200px;
    }
}


.hero_img{
    margin-right: 8px;
}
.marquesina-container{
    margin-top: 8px;
    a{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        padding-left: 16px;
        @media (min-width: 768px){
            padding-left: 0px;
        }
    }

}
